#{extends 'main.html' /}
#{set title:'FaceRating' /}
<h1>Face Rating System</h1>
<form id="url-form" method="post" action="">
	<label>Url<label>
	<input type="text" name="url" id="url-to-view"/>
</form>
<div id="url-content">
</div>
<div id="stream-container" class="container">
	<div id="publisher-container">
		<div id="publisher"></div>				
	</div>
	<div class="button-container">
		<button id="identifyButton" style="display: none">Identify Person</button>
	</div>
</div>

<script src="http://staging.tokbox.com/v0.91/js/TB.min.js" ></script>
<script src="@{'/public/javascripts/face-rating.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
	function getUrlContent(url) {
		var data = "url="+url;
		console.log(data);
		$.ajax({
			url: '@@{Application.getLinkHTML}',
			data: data,
			type: "POST",
			crossDomain: true,
			success: function(response) {
				drawUrlContent(response);
			}
		});
	}

	function drawUrlContent(content) {
		$('#url-content').html(content);
	}
	$('#url-form').submit(function(e){
		console.log('submiting form');
		e.preventDefault();
		getUrlContent($('#url-to-view').attr('value'));
	});
	console.log('Finished');
});
</script>